:root{
  --main--color: tomato;
}

/* common */

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: rgba(245, 229, 227, .1);
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  opacity: 0.7;
  font-size: 17px;
  border-radius: 5px;
  color: var(--main--color);
}
button:hover{
  opacity: 1;
}
#title{
  color: var(--main--color);
  font-size: 33px;
  margin-bottom: 30px;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}
#header {
  margin: 10px;
  color: var(--main--color);
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background: none;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  margin-top: 40px;
  display: flex;
  font-size: 18px;
  color: var(--main--color);
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  color: var(--main--color);
  font-size: 16px;
  font-family: sans-serif;
  flex-direction: column;
  border-radius: 7px;
  justify-content: space-between;
}
.testCurrentDay{
  pointer-events: none;
}
.day:hover {
  background-color: #e8faed;
}

/* .day + #currentDay {
  background-color:#e8f4fa;
} */
#currentDay{
  background-color:#e8f4fa;
}
#eventText, #eventTitleInput{
  display: none;
}
.event {
  font-size: 11px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#footerChecked {
  font-size: 22px;
  margin-left: 10px;
}
.titleChecked{
  padding: 10px 0;
  font-size: 23px;
  font-family: sans-serif;
  color: var(--main--color);
}

